/.idea
/.idea/workspace.xml
.idea/workspace.xml
.idea/
**/.idea/
/templates_c
/ajax/templates_c
/homework
/files
/ajax/new/templates_c
/alumnos
/flash
/forofiles
/personal_foto
/resources
/reports
/sabanas
/calendario
/diplomas
/extrafiles
/dev
config.php
/javascript/config.js
