/.idea
/.idea/workspace.xml
.idea/workspace.xml
.idea/
**/.idea/

/homework
/files
/alumnos
/flash
/forofiles
/personal_foto
/resources
/reports
/sabanas
/calendario
/diplomas
/extrafiles
/dev
/file_retro
/ajax/app/one/platforms
/ajax/app/one/node_modules/
/tripticos
/vendor

.env
/templates_c/*
!/templates_c/.gitkeep
/ajax/templates_c/*
!/ajax/templates_c/.gitkeep
/ajax/new/templates_c/*
!/ajax/new/templates_c/.gitkeep
