/.idea
/.idea/workspace.xml
.idea/workspace.xml
.idea/
**/.idea/

/alumnos
/calendario
/diplomas
/docentes
/doc_inbox
/docs
/estandares
/extrafiles
/homework
/file_retro
/files
/flash
/forofiles
/homework
/informe
/materia
/m_educacion
/msj
/personal_foto
/reportes
/reports
/resources
/sabanas
/tripticos
/dev
/vendor

/ajax/app/one/platforms
/ajax/app/one/node_modules/

.env
/templates_c/*
!/templates_c/.gitkeep
/ajax/templates_c/*
!/ajax/templates_c/.gitkeep
/ajax/new/templates_c/*
!/ajax/new/templates_c/.gitkeep

